{% extends "master.html" %}

{% load static %}

{% block head %}
<title>Home | Flight</title>
<!-- <script type="text/javascript" src="{% static 'js/index.js' %}"></script> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% endblock head %}

{% block body %}

<body >
    <h1>Hello it is supermarket page</h1>
    <h2>Welcome!!</h2>


  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
</body>
{% endblock %}